body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

#parent-container {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

#logo-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*flex-grow: 1;*/
  align-items: center;
  /*padding-left: 20px;*/
}

#logo {
  padding: 15px 20px;
}

#title {
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-weight: 400;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.nav-item {
  padding-right: 20px;
  font-size: 18px;
}

section {
  background: url(../images/amdc.png) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 9%;
}

#intro-box {
  display: flex;
  flex-direction: column;
  /*background: url(../images/marble.jpg) center center no-repeat;*/
  border: 1px solid black;
  margin-right: 45%;
  background-color: black;
  padding: 30px 40px;
}

h2 {
  font-size: 28px;
  color: white;
  padding-bottom: 18px;
}

#intro-box p {
  color: white;
  padding-bottom: 20px;
}

.button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #00d0ff;
  padding: 12px;
  margin-right: 74%;
  font-weight: 600;
}

#course-overview {
  display: flex;
  flex-direction: column;
  /*max-width: 1200px;*/
  padding: 4% 10%;
}

#course-wrapper {
  display: flex;
  flex-direction: row;
}

.textbox {
  display: flex;
  flex-direction: column;
  padding: 0% 3%;
}

h3 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 22px;
  padding-left: 3%;
}


.textbox p {
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.6px;
}

#icon-section {
  background-color: rgba(245,244,233,1);
}

#icon-wrapper {
  display: flex;
  flex-direction: row;
  /*max-width: 1200px;*/
  padding: 3% 6%;
}

.icon {
  display: flex;
  flex-direction: column;
  padding: 0% 1%;
}

.icon-img {
  margin: auto;
  padding-bottom: 15px;
}

h4 {
  font-weight: 600;
  color: black;
  text-align: center;
}

#testimonials-section {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 5% 10%;
}

.testimonial-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 8%;
}

.testimonial-image-wrapper {
  display: flex;
  flex-direction: row;
}

#testimonial-text-right {
  margin-left: 5%;
  padding: 2.5% 5%;
}

#testimonial-text-left {
  margin-right: 5%;
  padding: 2.5% 5%;
}

.testimonial-text p {
  font-size: 18px;
  font-style: italic;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

footer {
  background-color: rgba(224,242,243,1);
}
