html, body {
  height: 100%;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}

p {
  letter-spacing: 0.6px;
  color: rgb(101,101,101);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

#logo-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#logo {
  padding: 15px 20px;
}

#title {
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
  padding-right: 30px;
}

.nav-item {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px;
  cursor: pointer;
  border-bottom: solid transparent 3px;
}

.nav-item a {
  color: black;
  text-decoration: none;
}

.nav-item.active {
  padding-bottom: 10px;
  border-color: #dc2d27;
}

#mobile-nav {
  display: none;
}

.slide-menu {
  display: none;
}

section {
  background: url(../images/amdc.png) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 9%;
}

#intro-box {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: black;
  padding: 30px 30px;
  max-width: 600px;
}

h2 {
  font-size: 30px;
  color: white;
  padding-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 1.2em;
}

#intro-box p {
  color: white;
  padding-bottom: 20px;
  line-height: 1.3em;
}

.button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #00d0ff;
  padding: 10px 25px;
  margin-right: auto;
  font-weight: 700;
  font-size: 18px;
}

.button a {
  color: black;
  text-decoration: none;
}

#course-overview {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
}

#course-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

#course-textbox {
  display: flex;
  flex-direction: row;
}

.textbox {
  display: flex;
  flex-direction: column;
}

#left-textbox {
  padding-right: 50px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 35px;
}


.textbox p {
  font-size: 18px;
}

#icon-section {
  background-color: rgba(245,244,233,1);
  padding: 50px 0px;
}

#icon-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 1%;
}

.icon-img {
  padding-bottom: 15px;
}

.icon h4 {
  line-height: 1.1em;
  letter-spacing: 0px;
}

h4 {
  font-weight: 600;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  line-height: 1.3em;
}

#three-column-section {
  padding: 60px 0px;

}

#three-column-first-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}

#three-column-second-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.three-column-box {
  display: flex;
  flex-direction: column;
  max-width: 392px;
  padding: 0px 20px 0px 0px;
}

.three-column-text {
  padding: 15px 17px 0px 0px;
}

.three-column-text h4 {
  text-align: left;
  padding-bottom: 10px;
  font-size: 18px;
}

.three-column-text p {
  text-align: left;
  font-weight: 300;
  line-height: 1.2em;
}

.three-column-box.third {
  padding-right: 0px;
}

#highlights-section {
  background-color: rgb(49,49,49);
}

#highlights-first-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
}

#highlights-second-wrapper {
  padding: 60px 0px;
}


#highlights-second-wrapper h3 {
  color: white;
  padding: 0px;
}

#highlights-content {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.highlight {
  padding-right: 55px;
}

.highlight h4 {
  color: white;
  font-weight: 400;
  text-align: left;
  line-height: 1.2em;
}

.highlight-img {
  padding-bottom: 23px;
}

#highlights-box {
  background: url(../images/carolin.png) no-repeat center center;
  background: cover;
  min-width: 500px;
  min-height: 340px;
}

#testimonials-section {
  background-color: rgba(245,244,233,1);
  padding: 25px 0px;
}

.testimonials-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.testimonials-wrapper img {
  /*margin: 0px 50px;*/
}

.testimonials-text {
  background-color: white;
  margin: 50px 100px;
  padding: 40px;
}

.testimonials-name {
  font-weight: 600;
  letter-spacing: 0px;
  padding-top: 10px;
  color: black;
}

.testimonials-name.eva {
  padding-bottom: 8px;
  border-bottom: 2px solid #dc2d27;
  display: inline-block;
  /*margin-right: 515px;*/
}

.testimonials-name.ishaku {
  padding-bottom: 8px;
  border-bottom: 2px solid #dc2d27;
  display: inline-block;
  /*margin-right: 490px;*/
}

footer {
  background-color: rgb(49, 49, 49);
  padding: 50px 0px;
}

#footer-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.pure-g {
  padding-left: 65px;
}

.pure-form .pure-input-1-2 {
  width: 60%;
}

.pure-button {
  margin: 33px 0px;
}

label {
  color: white;
}

input.error {
	border: 2px solid red;
}

.error-msg {
	color: red;
	display: none;
}




/*RESPONSIVE*/

@media screen and (max-width: 1250px) and (min-width: 1080px) {

  h3 {
    line-height: 1.1em;
  }

  #course-overview {
    padding: 60px 60px;
  }

  #icon-section {
    padding: 50px 30px;
  }

  #highlights-second-wrapper {
    padding: 45px 50px;
  }

  #highlights-box {
    width: 100%;
    min-width: 0px;
    min-height: 0px;
  }

  #three-column-first-wrapper {
    padding: 0px 30px;
  }

  .three-column-box {
    width: 30%;
  }

  #testimonials-section {
    padding: 25px 60px;
  }

  .testimonials-text.eva {
    margin: 50px 20px 50px 80px;
  }

  .testimonials-text.ishaku {
    margin: 50px 80px 50px 20px;
  }

  .testimonials-name.eva {
    border: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    padding-top: 22px;
  }

  .testimonials-name.ishaku {
    border: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    padding-top: 22px;
  }
}

@media screen and (max-width: 1080px) and (min-width: 600px) {

  h1 {
    font-size: 20px;
  }

  #course-overview {
    padding: 50px 30px;
  }

  h3 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
  }

  .textbox p {
    font-size: 14px;
  }

  .icon h4 {
    font-size: 14px;
  }

  #three-column-section {
    padding: 45px 20px;
  }

  .three-column-box {
    max-width: 300px;
    padding: 0px;
  }

  .three-column-box.third {
    padding: 0px;

  }
  .three-column-box img {
    width: 90%;
  }

  .three-column-text h4 {
    font-size: 15px;
  }

  .three-column-text p {
    font-size: 14px;
  }

  #highlights-second-wrapper {
    padding: 45px 30px;
  }

  #highlights-second-wrapper h3 {
    line-height: 1.1em;
  }

  .highlight {
    padding-right: 25px;
  }

  .highlight h4 {
    font-size: 15px;
  }

  #highlights-box {
    width: 115%;
    min-width: 0px;
    min-height: 0px;
  }


  .testimonials-wrapper {
    padding: 0px 30px;
  }

  .testimonials-wrapper img {
    width: 150px;
  }

  .testimonials-text {
    font-size: 14px;
  }

  .testimonials-text.eva {
    margin: 20px 0px 20px 30px;
    padding: 30px;
  }

  .testimonials-text.ishaku {
    margin: 20px 30px 20px 0px;
    padding: 30px;
  }

  .testimonials-name.eva {
    border: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    padding-top: 22px;
  }

  .testimonials-name.ishaku {
    border: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    padding-top: 22px;
  }

  #footer-wrapper h2 {
    text-align: center;
    padding-bottom: 50px;
    line-height: 1.3em;
  }

  form {
    padding-left: 50px;
  }

}

@media screen and (max-width: 1000px) {

  #nav {
    display: none;
  }

  #mobile-nav {
    display: block;
    margin: 35px 30px;
    font-size: 25px;
  }

  #hamburger-btn {
    position: relative;
    z-index: 20;
  }

  #hamburger-btn.open {
    color: white;
  }

  .slide-menu {
    display: block;
    background-color: rgb(148,150,150);
    color: white;
    width: 45%;
    /*height: 30%;*/
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    right: -45%;
    transition: all 1s;
  }

  .slide-menu.open {
    right: 0;
    transition: all 1s;
  }

  .slide-menu-item {
    padding: 40px 0px 0px 40px;
    font-size: 16px;
    font-weight: 400;
  }

  .slide-menu-item a {
    color: white;
    text-decoration: none;
    border-bottom: 1px;
    cursor: pointer;
    border-bottom: solid transparent 3px;
  }

  .slide-menu-item a.active {
    padding-bottom: 10px;
    border-color: #dc2d27;
  }
}

@media screen and (max-width: 599px) {

  h2 {
    font-size: 30px;
    text-align: center;
  }

  #intro-box p {
    font-size: 16px;
    text-align: center;
  }

  .button {
    margin: auto;
    text-align: center;
  }

  .slide-menu-item {
    padding: 20% 10% 5% 10%;
  }

  #course-overview {
    padding: 35px 30px;
  }

  h3 {
    font-size: 30px;
    text-align: center;
    line-height: 1.2em;
  }

  #left-textbox {
    padding-right: 0px;
    text-align: center;
  }

  #right-textbox {
    display: none;
  }

  #icon-wrapper {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  .icon {
    align-items: center;
    padding-bottom: 50px;
  }

  .icon.fourth {
    padding-bottom: 0px;
  }

  #three-column-section {
    padding: 45px 30px;
  }

  #three-column-second-wrapper {
    flex-direction: column;
    margin: auto;
  }

  .three-column-box {
    padding: 0px 0px 35px 0px;
  }

  .three-column-text h4 {
    text-align: center;
  }

  .three-column-text p {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
  }

  #highlights-second-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 45px 30px;
  }

  #highlights-content {
    display: flex;
    flex-direction: column;

  }

  .highlight {
    padding: 0px 0px 35px 0px;
  }

  .highlight.third {
    padding: 0px 0px 0px 0px;
  }

  .highlight-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .highlight h4 {
    text-align: center;
  }

  #highlights-box {
    display: none;
  }

  #testimonials-section {
    padding: 45px 20px;
  }

  .testimonials-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
 }

 .testimonials-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px;
    padding: 40px;
 }


 .testimonials-text p {
  text-align: center;
 }

 .testimonials-name {
  text-align: center;
  margin: 0px 0%;
 }

 #footer-wrapper {
  display: flex;
  flex-direction: column;
 }

 #footer-wrapper h2 {
   font-size: 25px;
 }

 form {
  padding-left: 6%;
  padding-right: 12%;
 }
}



@media screen and (max-width: 450px) {


  #title {
    display: none;
  }

  .slide-menu {
    display: block;
    background-color: rgb(148,150,150);
    color: white;
    width: 80%;
    /*height: 30%;*/
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    right: -80%;
    transition: all 1s;
  }

  .slide-menu-item {
    padding: 20% 10% 5% 10%;
  }

  .three-column-box {
    max-width: 300px;
  }

  /*#footer-wrapper {
    padding: 0px 15px;
  }

  #footer-wrapper h2 {
    font-size: 20px;
  }*/

  form {
    padding-left: 4%;
    padding-right: 20%;
  }

}
